/*Reset*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
}

img {
    display: block;
    max-width: 100%;
}

input, button {
    font: inherit;
}

p, h1 {
    overflow-wrap: break-word;
}

/*Variables*/
:root {
    --clr-blue: hsl(223, 87%, 63%);
    --clr-pale-blue: hsl(223, 100%, 88%);
    --clr-light-red: hsl(354, 100%, 66%);
    --clr-gray:  hsl(0, 0%, 59%);
    --clr-very-dark-blue: hsl(209, 33%, 12%);

    --fw-light: 300;
    --fw-normal: 600;
    --fw-bold: 700;
}

/*Layout*/
body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: "Libre Franklin", sans-serif;
    font-size: 20px;
}

.container {
    min-height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
}

.logo {
    padding-top: 4rem;
}

h1 {
    padding-top: 2rem;
    font-weight: var(--fw-light);
    color: var(--clr-gray)
}

span {
    font-weight: var(--fw-bold);
    color: black;
}

p {
    padding-top: .75rem;
    font-weight: var(--fw-light);
    font-size: 16px;
}

form {
    padding-top: 2rem
}

input {
    padding: .75rem 8rem .75rem 1rem;
    border: 2px solid var(--clr-pale-blue);
    border-radius: 2rem;
    font-weight: var(--fw-light);
    font-size: 14px;
    color: var(--clr-gray);
}

button {
    padding: .75rem 2rem;
    border: 2px solid var(--clr-blue);
    border-radius: 1.5rem;
    background-color: var(--clr-blue);
    font-weight: var(--fw-normal);
    font-size: 14px;
    color: white;
    box-shadow: 0 8px 15px var(--clr-pale-blue);
}

.button:hover, .button:focus {
    opacity: .8;
}

.image {
    padding-block: 5rem;
}

.social {
    display: flex;
    justify-content: space-around;
}

.social-icon {
    text-decoration: none;
    padding: 1.2rem;
    color: var(--clr-blue);
    background-color: white;
    border: .5px solid var(--clr-pale-blue); 
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.social-icon:hover {
    background-color: var(--clr-blue);
    color: white;
}

i {
    font-size: 16px;
}

.copyright {
    padding-block: 2rem;
    font-weight: var(--fw-light);
    font-size: 16px;
    color: var(--clr-gray)
}

/*Media Queries*/
@media (max-width: 475px) {
    body {
        padding-inline: 2rem;
    }

    button {
        margin-top: 1rem;
        padding: .75rem 7.6rem;
    }
}

@media (min-width: 475px) {
    .image {
        width: 80%;
    }
}

@media (min-width: 700px) {
    .image {
        width: 60%;
    }
}